.person {
    background-color: aquamarine;
}

a {
    display: block;
}

#highlight > div {
    background-color: orange;
}

#highlight + a > div {
    background-color: yellow;
}

.form-container { 
    margin: 24px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
}